
	html, body {
		height: 100%;
	}

	body {
				
		 background: -moz-linear-gradient(45deg, rgba(242,147,22,1) 0%, rgba(255,234,94,1) 100%); /* ff3.6+ */
		background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(242,147,22,1)), color-stop(100%, rgba(255,234,94,1))); /* safari4+,chrome */
		background: -webkit-linear-gradient(45deg, rgba(242,147,22,1) 0%, rgba(255,234,94,1) 100%); /* safari5.1+,chrome10+ */
		background: -o-linear-gradient(45deg, rgba(242,147,22,1) 0%, rgba(255,234,94,1) 100%); /* opera 11.10+ */
		background: -ms-linear-gradient(45deg, rgba(242,147,22,1) 0%, rgba(255,234,94,1) 100%); /* ie10+ */
		background: linear-gradient(45deg, rgba(242,147,22,1) 0%, rgba(255,234,94,1) 100%); /* w3c */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFEA5E', endColorstr='#F29316',GradientType=1 ); /* ie6-9 */
	

		font-family: 'Coda', cursive;
		 height: 100%;
   		margin: 0;
    	background-repeat: no-repeat;
    	background-attachment: fixed;
	}

	#modal {
	    position: fixed;
	    font-family: Arial, Helvetica, sans-serif;
	    top: 0;
	    left: 0;
	    background: rgba(0, 0, 0, 0.75);
	    z-index: 99999;
	    height: 100%;
	    width: 100%;

	}

	.modalcontent {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    background: #fff;
	    width: 70%;
	    padding: 40px;
	}



	#button {
		border-style: none;
		width: 60px;
		height: 40px;
		background: #FFA172;
		color: white;
		float: right;
	}

	#button:hover {
		background: #FEE172;
		cursor: pointer;

	}




	.center {
		text-align: center;
		margin-top: 100px;
	
	}

	.stats {
		width: 800px;
		margin: 0 auto;

	}

	img {
		width: 110px;
		height: 110px;
		margin: 50px;
		transform: rotate(-180deg);
		transition: transform 1s;



	}
	
	img:hover{
		transform: rotate(180deg);
		transition: transform .3s;
	}


	#startingNumber, #gameCount {
		width: 400px;
		float: right;
		font-size: 200px;
		text-align: center;
		
		
	}




	